<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.dns-blocklist-update</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/dns-blocklist-update.sh</string>
        <string>-c</string>
        <string>/usr/local/etc/dns-blocklists.conf</string>
        <string>-o</string>
        <string>/usr/local/etc/dnsmasq.d/hagezi.conf</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/tmp/com.user.dns-blocklist-update.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.user.dns-blocklist-update.out</string>
</dict>
</plist>